#confirmation {
  display: none;
  background-color: #efefef;
  padding: 10px;
}

#emptyForm img {
  padding-top: 20px;
  max-width: 100%;
  height: auto;
}

#emptyForm p {
  padding-top: 10px;
}

form {
  padding-left: 10px;
}
