#confirmation {
  display: none;
  background-color: #efefef;
  padding: 10px;
}

#emptyForm {
  padding: 10px;
}

#emptyForm p {
  padding-top: 10px;
}

form {
  padding-top: 10px;
  padding-left: 10px;
}

select {
  font-size: 18px;
}
